#nav1{
    background-color: #145A32;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
}

#nav2{
    background-color: #1D8348;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    position: sticky;
    top: 96px;
}

#nav2 a{
    font-size: 23px;
}

#nav2 .dere{
    margin-left: 80px;
}

footer{
    background-color: #145A32;
    color: white;
}

#logo1{
    width: 85px;
    height: 85px;
}
#nav3{
    color: white;
    margin-top: 20%;
    font-size: 23px;
}

#nav4{
    color: white;
    margin-top: 10%;
    font-size: 30px;
}

#nav5{
    margin-top: 4%;
}

#busca{
    width: 250px;
    height: 60px;
    margin-top: 5%;
    margin-right: 50px;
}

#img1{
    height: 35px;
    width: 50px;
}
#img2{
    height: 35px;
    width: 35px;
}
#img4{
    height: 30px;
    width: 40px;
}
#img3{
    height: 40px;
    width: 40px;
}

#imagen1{
    margin-top: 9px;
}

div > p{
    margin-top: 13px;
}

a{
    color: white;
}

a:hover{
    color:whitesmoke;
    background-color: #28b463;
}

@import url(https://allfont.es/allfont.css?fonts=arvo);

.slider {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    
    animation: cambio 20s infinite;
}

.slider li{
    width: 100%;
    height: auto;
    list-style: none;
}

.slider img{
    width: 100%;
    height: auto;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.padre_g {
    padding: 0 1rem;
    margin: 1rem;
  }
  
.hijo_g {
    background-color: #B7950B;
    height: 220px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arvo', arial;
}

.izquierda_g{
    float: left;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 32px;
    color: white;
    text-align: center;
    font-size: 50px;
}

.img_g{
    float: left;
    height: 220px;
    width: auto;
}

.derecha_g{
    float: left;
    margin-left: 120px;
    margin-top: 32px;
    color: white;
    text-align: center;
    font-size: 50px;
}

.padre_m {
    display: flex;
    justify-content: center;
}

.hijo_m{
    height: 220px;
    width: 540px;
    margin: 10px;
    background-color: #B7950B;
    font-family: 'Arvo', arial;
}

.hijo_m img{
    float: left;
    height: 220px;
    width: auto;
}

.hijo_m p{
    float: left;
    margin-left: 80px;
    margin-top: 32px;
    color: white;
    text-align: center;
    font-size: 50px;
}

.padre_p {
    display: flex;
    justify-content: center;
}

.hijo_p{
    height: 220px;
    width: 354px;
    margin: 10px;
    background-color: #B7950B;
    font-family: 'Arvo', arial;
    display: inline-block;
}

.hijo_p img{
    float: left;
    height: 220px;
    width: auto;
}

.hijo_p p{
    float: left;
    margin-left: 20px;
    margin-top: 80px;
    color: white;
    text-align: center;
    font-size: 40px;
}